name: PR Validation

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          pkg-config \
          libudev-dev llvm libclang-dev \
          protobuf-compiler libssl-dev

    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy

    - uses: Swatinem/rust-cache@v2
      with:
        save-if: ${{ github.ref == 'refs/heads/main' }}

    - name: Install Solana CLI
      run: |
        sh -c "$(curl -sSfL https://release.anza.xyz/stable/install)"
        echo "$HOME/.local/share/solana/install/active_release/bin" >> $GITHUB_PATH

    - name: Install avm
      run: cargo install --git https://github.com/coral-xyz/anchor avm --force

    - name: Install Anchor
      run: |
        anchor_version=$(cat Anchor.toml | grep anchor_version | awk '{print $NF}' | tr -d '"')
        avm install ${anchor_version}
        avm use ${anchor_version}

    - name: Install yarn dependencies
      run: yarn install --frozen-lockfile

    - name: Anchor build
      run: anchor build

    - name: Setup solana node
      run: |
        solana-test-validator --reset &
        echo "VALIDATOR_PID=$!" >> $GITHUB_ENV
        sleep 5

        mkdir -p ~/.config/solana/
        solana-keygen new --no-passphrase --outfile ~/.config/solana/hastra-localnet-id.json
        solana config set --url l
        solana config set --keypair ~/.config/solana/hastra-localnet-id.json
        solana airdrop 1000

    - name: Anchor test
      run: anchor test --skip-local-validator

    - name: Stop local validator
      run: kill ${VALIDATOR_PID}
